ADF/pipeline/12_1_copyactivity_containstodaysDatesfile.json
{
	"name": "12_1_copyactivity_containstodaysDatesfile",
	"properties": {
		"activities": [
			{
				"name": "gettodaysDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getFileDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "vishinbound",
							"wildcardFileName": {
								"value": "@concat('*',variables('formattedDate'),'*')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "wildcardDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getFileDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "gettodaysDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "formattedDate",
					"value": {
						"value": "@formatDateTime(variables('filedate'),'ddMMyyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filedate": {
				"type": "String"
			},
			"formattedDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-09T11:15:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}