ADF/pipeline/2_setVariableActivity.json
{
	"name": "2_setVariableActivity",
	"properties": {
		"activities": [
			{
				"name": "getpersonName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prsn_name",
					"value": "Ravi"
				}
			},
			{
				"name": "getLocation",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getpersonName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "location",
					"value": "HYD"
				}
			},
			{
				"name": "Message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('Person name is ',variables('prsn_name'),' and location is ',variables('location'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"prsn_name": {
				"type": "String"
			},
			"location": {
				"type": "String"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-07T16:02:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}