ADF/pipeline/39_email_notification_on_pipelineFailedrr5.json
{
	"name": "39_email_notification_on_pipelineFailedrr5",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_inbound",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/38f5da0308a14afb89fbb7d2b329c470/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=BhK0-TF_MFCYsFy0TyOC0a396QwApVNp_kcRytzDeEU",
					"body": {
						"DataFactory_Name": "@{pipeline().DataFactory}",
						"Pipeline_Name": "@{pipeline().Pipeline}",
						"Pipeline_RunId": "@{pipeline().RunId}",
						"Error_message": "@{activity('Copy data1').output.errors[0].Message}"
					}
				}
			}
		],
		"variables": {
			"dd": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-16T16:29:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}